#totalMonthlyDiv {
 text-align: right;
 align-items: right;
}
#totalAnnualDiv {
 text-align: right;
 align-items: right;
}
.turnsRed {
 background-color: red;
}
body {
 background-image: linear-gradient(to right, #f5ffff, #d4ffff);